header {
    height: 70px;
    background-color: gray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

main {
    height: calc(100vh - 70px);
    background-color: aqua;
    margin-top: 70px;
}

.ms_border {
    border: 1px solid black;
}