/*DEBUG*/

.debug .ms_box {
    border: dashed 1px red;
}
.debug #ms_aside {
    background-color: var(--darkBlueColor);
    background-image: url(../img/sidebar-bg.png);
}






/*CSS*/

/*utility*/

:root {
    --darkBlueColor: #051e34;
    --BlueColor: #1a6edf;
    --SearchBarColor: #e5e5e5;
    --WhiteColor: #f8f8f8;
}

.ms_border {
    border: 1px solid black;
}




/*rules*/
header {
    height: 70px;
    background-color: gray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#ms_sidebar-top {
    height: calc(100% - 50px);
}
#ms_sidebar-top .row {
    height: 40px;
    line-height: 40px
}
#ms_sidebar-top::-webkit-scrollbar {
    display: none;
}
#ms_sidebar-bottom {
    height: 50px;
}
.ms_text {
    font-size: 1rem;
    vertical-align: middle;
    padding-left: 5px;
    display: none;
}
main {
    height: calc(100vh - 70px);
    background-color: var(--BlueColor);
    margin-top: 70px;
}

#ms_content::-webkit-scrollbar {
    display: none;
}
.ms_logo {
    width: 45px;
}
.dropdown-toggle::after {
    display: none;
}

i.fa-solid.fa-bell{
    color: #fb8d00;
}
.ms_search {
    border: var(--bs-border-width) solid var(--bs-border-color);
}
.ms_bg-search {
    background-color: var(--SearchBarColor);
}
.breadcrumb-item+.ms_no-divider::before {
    display: none;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: white;
}
.offcanvas.offcanvas-end {
    width: 100%;
}
#ms_main-bottom {
    background-color: var(--WhiteColor);
}
#ms_main-bottom tr th:first-child {
    width: 30%;
    text-align: left;
}
#ms_main-bottom tr td:first-child {
    width: 30%;
    text-align: left;
}
#ms_main-bottom tr img {
    width: 30px;
    border-radius: 50%;
    margin-right: 8px;
}
.ms_change-display {
    display: none;
}
#ms_main-top-sx nav li a {
    color: white;
    background-color: #0559a3;
}
#ms_main-top-sx span a {
    color: white;
    background-color: #0559a3;
}




/*HOVER*/
#ms_sidebar-top .row:hover div {
    background-color: rgba(229, 229, 229, 0.8);
}



/*MEDIAQUERY*/

/*tablet*/
@media all and (min-width: 768px) {
    
    #ms_main-top .ms_new-student {
        order: 2;
    }
    #ms_main-top {
        flex-direction: row;
    }
    .ms_h-100px {
        height: 100px;
    }
}

@media all and (min-width: 992px) {
    .ms_change-display {
        display: inline-block;
    }
    .offcanvas.offcanvas-end {
        width: 600px;
    }
}


